@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    text-decoration: none;
}

/* Pastikan html dan body mengambil tinggi penuh viewport */
body, html {
    height: 100%;
}

body{
    color: white;
    /* Pengaturan Background Image agar sesuai Desktop */
    background-image: url(../uploads/login/wallpaperflare-cropped.jpg);
    background-size: cover;         /* Menyesuaikan ukuran agar seluruh area body tertutup */
    background-position: center;    /* Memposisikan gambar di tengah layar */
}

/* CONTAINER */
.container-main{
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    align-items: center;
    padding-top: 9%;
}

/* Container Left */
.container-left{
    margin: auto;
    background-color: rgba(1, 1, 1, 0.503);
    padding: 32.4px;
    border-radius: 18px;
}
.container-left h1{
    font-size: 40.5px;
}
.container-left img{
    width: 90px;
}
.container-left p{
    font-weight: 550;
    font-size: 18px;
}
.container-left span{
    font-weight: 800;
    color: #1878f2;
    text-shadow: 0 0 1.8px rgb(0, 0, 0);
}

/* CONTAINER RIGHT / Login */
.container-right{
    width: 405px;
    background-color: rgb(0, 0, 0 ,0.7);
    border-radius: 9px;
    color: white;
    margin: auto;
}

/* HEAD */
.head{
    display: flex;
    margin-bottom: 36px;
    justify-content: space-between;
}

.head-left {
    padding: 18px 36px;
}

.head h1{
    font-size: 29.7px;
    font-weight: bold;
}
.head p{
    font-size: 11.7px;
    font-weight: 500;
    margin-top: -7.2px;
}

.head-right img{
    width: 81px;
    margin-top: -4.5px;
    border-radius: 1.8px 1.8px 0 0;
    margin-right: 2.25rem;
}

form {
    padding: 0 36px;
}

.login input {
    font-size: 21.6px;
    font-weight: 500;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1.8px solid white;
    padding: 4.5px 0;
    color: white;
    width: 100%;
}

.login input::-webkit-input-placeholder {
    color: white;
    opacity: 0.75;
}

.login button{
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #1878f2;
    padding: 9px 18px;
    cursor: pointer;
    border: none;
    border-radius: 4.5px;
}
.login button i{
    padding-left: 4.5px;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit p{
    font-size: 13.5px;
}
.submit a p {
    color: white;
}

.Copyright {
    color: white;
    background-color: rgb(36, 35, 35);
    padding: 13.5px 9px;
    margin-top: 45px;
    text-align: center;
    font-size: 10.8px;
    font-weight: 400;
    border-radius: 0 0 9px 9px;
}

@media screen and (max-width: 900px) {
    .container-main{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 1.8rem;
    }
}